[submodule "mduem"]
	path = mduem
	url = ../mduem
[submodule "vim/altercmd"]
	path = vim/altercmd
	url = ../vim-altercmd
[submodule "vim/arpeggio"]
	path = vim/arpeggio
	url = ../vim-arpeggio
[submodule "vim/bundle"]
	path = vim/bundle
	url = ../vim-bundle
[submodule "vim/exjumplist"]
	path = vim/exjumplist
	url = ../vim-exjumplist
[submodule "vim/fakeclip"]
	path = vim/fakeclip
	url = ../vim-fakeclip
[submodule "vim/flydiff"]
	path = vim/flydiff
	url = ../vim-flydiff
[submodule "vim/grex"]
	path = vim/grex
	url = ../vim-grex
[submodule "vim/metarw"]
	path = vim/metarw
	url = ../vim-metarw
[submodule "vim/metarw-git"]
	path = vim/metarw-git
	url = ../vim-metarw-git
[submodule "vim/narrow"]
	path = vim/narrow
	url = ../vim-narrow
[submodule "vim/operator-replace"]
	path = vim/operator-replace
	url = ../vim-operator-replace
[submodule "vim/operator-user"]
	path = vim/operator-user
	url = ../vim-operator-user
[submodule "vim/repeat"]
	path = vim/repeat
	url = ../vim-repeat
[submodule "vim/scratch"]
	path = vim/scratch
	url = ../vim-scratch
[submodule "vim/skeleton"]
	path = vim/skeleton
	url = ../vim-skeleton
[submodule "vim/smartchr"]
	path = vim/smartchr
	url = ../vim-smartchr
[submodule "vim/smarttill"]
	path = vim/smarttill
	url = ../vim-smarttill
[submodule "vim/smartword"]
	path = vim/smartword
	url = ../vim-smartword
[submodule "vim/submode"]
	path = vim/submode
	url = ../vim-submode
[submodule "vim/surround"]
	path = vim/surround
	url = ../vim-surround
[submodule "vim/textobj-datetime"]
	path = vim/textobj-datetime
	url = ../vim-textobj-datetime
[submodule "vim/textobj-diff"]
	path = vim/textobj-diff
	url = ../vim-textobj-diff
[submodule "vim/textobj-entire"]
	path = vim/textobj-entire
	url = ../vim-textobj-entire
[submodule "vim/textobj-fold"]
	path = vim/textobj-fold
	url = ../vim-textobj-fold
[submodule "vim/textobj-function"]
	path = vim/textobj-function
	url = ../vim-textobj-function
[submodule "vim/textobj-indent"]
	path = vim/textobj-indent
	url = ../vim-textobj-indent
[submodule "vim/textobj-jabraces"]
	path = vim/textobj-jabraces
	url = ../vim-textobj-jabraces
[submodule "vim/textobj-lastpat"]
	path = vim/textobj-lastpat
	url = ../vim-textobj-lastpat
[submodule "vim/textobj-syntax"]
	path = vim/textobj-syntax
	url = ../vim-textobj-syntax
[submodule "vim/textobj-user"]
	path = vim/textobj-user
	url = ../vim-textobj-user
[submodule "vim/vcsi"]
	path = vim/vcsi
	url = ../vim-vcsi
[submodule "vim/vspec"]
	path = vim/vspec
	url = ../vim-vspec
[submodule "vim/wwwsearch"]
	path = vim/wwwsearch
	url = ../vim-wwwsearch
[submodule "vim/xml-autons"]
	path = vim/xml-autons
	url = ../vim-xml-autons
[submodule "vim/xml-move"]
	path = vim/xml-move
	url = ../vim-xml-move
[submodule "vim/filetype-haskell"]
	path = vim/filetype-haskell
	url = ../vim-filetype-haskell
[submodule "vim/altr"]
	path = vim/altr
	url = ../vim-altr
[submodule "vim/textobj-line"]
	path = vim/textobj-line
	url = ../vim-textobj-line
[submodule "vim/gf-user"]
	path = vim/gf-user
	url = ../vim-gf-user
[submodule "vim/gf-diff"]
	path = vim/gf-diff
	url = ../vim-gf-diff
