[submodule "mduem"]
	path = mduem
	url = ../mduem
[submodule "vim/external/kana/vim-altercmd"]
	path = vim/external/kana/vim-altercmd
	url = https://github.com/kana/vim-altercmd.git
[submodule "vim/external/kana/vim-altr"]
	path = vim/external/kana/vim-altr
	url = https://github.com/kana/vim-altr.git
[submodule "vim/external/kana/vim-arpeggio"]
	path = vim/external/kana/vim-arpeggio
	url = https://github.com/kana/vim-arpeggio.git
[submodule "vim/external/kana/vim-bundle"]
	path = vim/external/kana/vim-bundle
	url = https://github.com/kana/vim-bundle.git
[submodule "vim/external/kana/vim-exjumplist"]
	path = vim/external/kana/vim-exjumplist
	url = https://github.com/kana/vim-exjumplist.git
[submodule "vim/external/kana/vim-fakeclip"]
	path = vim/external/kana/vim-fakeclip
	url = https://github.com/kana/vim-fakeclip.git
[submodule "vim/external/kana/vim-filetype-haskell"]
	path = vim/external/kana/vim-filetype-haskell
	url = https://github.com/kana/vim-filetype-haskell.git
[submodule "vim/external/kana/vim-flydiff"]
	path = vim/external/kana/vim-flydiff
	url = https://github.com/kana/vim-flydiff.git
[submodule "vim/external/kana/vim-gf-diff"]
	path = vim/external/kana/vim-gf-diff
	url = https://github.com/kana/vim-gf-diff.git
[submodule "vim/external/kana/vim-gf-user"]
	path = vim/external/kana/vim-gf-user
	url = https://github.com/kana/vim-gf-user.git
[submodule "vim/external/kana/vim-grex"]
	path = vim/external/kana/vim-grex
	url = https://github.com/kana/vim-grex.git
[submodule "vim/external/kana/vim-metarw"]
	path = vim/external/kana/vim-metarw
	url = https://github.com/kana/vim-metarw.git
[submodule "vim/external/kana/vim-metarw-git"]
	path = vim/external/kana/vim-metarw-git
	url = https://github.com/kana/vim-metarw-git.git
[submodule "vim/external/kana/vim-mru"]
	path = vim/external/kana/vim-mru
	url = https://github.com/kana/vim-mru.git
[submodule "vim/external/kana/vim-narrow"]
	path = vim/external/kana/vim-narrow
	url = https://github.com/kana/vim-narrow.git
[submodule "vim/external/kana/vim-niceblock"]
	path = vim/external/kana/vim-niceblock
	url = https://github.com/kana/vim-niceblock.git
[submodule "vim/external/kana/vim-operator-replace"]
	path = vim/external/kana/vim-operator-replace
	url = https://github.com/kana/vim-operator-replace.git
[submodule "vim/external/kana/vim-operator-siege"]
	path = vim/external/kana/vim-operator-siege
	url = https://github.com/kana/vim-operator-siege.git
[submodule "vim/external/kana/vim-operator-user"]
	path = vim/external/kana/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "vim/external/kana/vim-rust"]
	path = vim/external/kana/vim-rust
	url = https://github.com/kana/vim-rust.git
[submodule "vim/external/kana/vim-scratch"]
	path = vim/external/kana/vim-scratch
	url = https://github.com/kana/vim-scratch.git
[submodule "vim/external/kana/vim-skeleton"]
	path = vim/external/kana/vim-skeleton
	url = https://github.com/kana/vim-skeleton.git
[submodule "vim/external/kana/vim-smartchr"]
	path = vim/external/kana/vim-smartchr
	url = https://github.com/kana/vim-smartchr.git
[submodule "vim/external/kana/vim-smarttill"]
	path = vim/external/kana/vim-smarttill
	url = https://github.com/kana/vim-smarttill.git
[submodule "vim/external/kana/vim-smartword"]
	path = vim/external/kana/vim-smartword
	url = https://github.com/kana/vim-smartword.git
[submodule "vim/external/kana/vim-submode"]
	path = vim/external/kana/vim-submode
	url = https://github.com/kana/vim-submode.git
[submodule "vim/external/kana/vim-tabpagecd"]
	path = vim/external/kana/vim-tabpagecd
	url = https://github.com/kana/vim-tabpagecd.git
[submodule "vim/external/kana/vim-textobj-datetime"]
	path = vim/external/kana/vim-textobj-datetime
	url = https://github.com/kana/vim-textobj-datetime.git
[submodule "vim/external/kana/vim-textobj-diff"]
	path = vim/external/kana/vim-textobj-diff
	url = https://github.com/kana/vim-textobj-diff.git
[submodule "vim/external/kana/vim-textobj-entire"]
	path = vim/external/kana/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/external/kana/vim-textobj-fold"]
	path = vim/external/kana/vim-textobj-fold
	url = https://github.com/kana/vim-textobj-fold.git
[submodule "vim/external/kana/vim-textobj-function"]
	path = vim/external/kana/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "vim/external/kana/vim-textobj-help"]
	path = vim/external/kana/vim-textobj-help
	url = https://github.com/kana/vim-textobj-help.git
[submodule "vim/external/kana/vim-textobj-indent"]
	path = vim/external/kana/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "vim/external/kana/vim-textobj-jabraces"]
	path = vim/external/kana/vim-textobj-jabraces
	url = https://github.com/kana/vim-textobj-jabraces.git
[submodule "vim/external/kana/vim-textobj-lastpat"]
	path = vim/external/kana/vim-textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat.git
[submodule "vim/external/kana/vim-textobj-line"]
	path = vim/external/kana/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "vim/external/kana/vim-textobj-smarty"]
	path = vim/external/kana/vim-textobj-smarty
	url = https://github.com/kana/vim-textobj-smarty.git
[submodule "vim/external/kana/vim-textobj-syntax"]
	path = vim/external/kana/vim-textobj-syntax
	url = https://github.com/kana/vim-textobj-syntax.git
[submodule "vim/external/kana/vim-textobj-user"]
	path = vim/external/kana/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/external/kana/vim-vcsi"]
	path = vim/external/kana/vim-vcsi
	url = https://github.com/kana/vim-vcsi.git
[submodule "vim/external/kana/vim-vspec"]
	path = vim/external/kana/vim-vspec
	url = https://github.com/kana/vim-vspec.git
[submodule "vim/external/kana/vim-wwwsearch"]
	path = vim/external/kana/vim-wwwsearch
	url = https://github.com/kana/vim-wwwsearch.git
[submodule "vim/external/kana/vim-xml-autons"]
	path = vim/external/kana/vim-xml-autons
	url = https://github.com/kana/vim-xml-autons.git
[submodule "vim/external/kana/vim-xml-move"]
	path = vim/external/kana/vim-xml-move
	url = https://github.com/kana/vim-xml-move.git
[submodule "vim/external/leafgarland/typescript-vim"]
	path = vim/external/leafgarland/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/external/kana/vim-komeshiro"]
	path = vim/external/kana/vim-komeshiro
	url = https://github.com/kana/vim-komeshiro.git
[submodule "vim/external/kana/tag-user"]
	path = vim/external/kana/vim-tag-user
	url = https://github.com/kana/vim-tag-user.git
[submodule "vim/external/kana/vim-tag-php"]
	path = vim/external/kana/vim-tag-php
	url = https://github.com/kana/vim-tag-php.git
