/* User stylesheet for Opera */
/* $Id$ */

/* Show a warning mark for each pop-up link.
 * BUGS: Don't check in the case of ``target="foo"'',
 *       it may or may not open in the specified frame.
 */
a[target="_blank"]:after
{
  content: "W";
  color: #fff !important;
  background: #000 !important;
  border: 1px #dd0 solid !important;
  font-weight: bolder;
  font-size: larger;
}

/* __END__ */
