/* CSS for Another HTML-lint (Extension) */

.explain blockquote,
.pre-sample,
.code-sample {
	border-width: 1;
	border-style: solid;
	border-color: ButtonShadow;
	padding: 0.5em;
	margin: 0.4em 32px 0.4em 1.5em;
}
.pre-sample,
.code-sample {
	font-family: "monospace";
}
table.code-sample {
	border-collapse: collapse;
	border-width: 1;
	border-style: solid;
	border-color: ButtonShadow;
}
table.code-sample td {
	border-width: 1;
	border-style: solid;
	border-color: ThreeDShadow;
	padding: 0.5em;
	font-family: "monospace";
}

div.pre-sample pre {
	margin-left: -2em;
}

table.contents th,
table.contents td {
	padding-left:  0.5em;
	padding-right: 0.5em;
}

table.border {
	border-collapse: collapse;
	border-width: thin;
	border-style: solid;
	border-color: ThreeDShadow;
/*	padding: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.5em; */
}
table.border th,
table.border td {
	border-width: 1;
	border-style: solid;
	border-color: ThreeDShadow;
/*	empty-cells: hide; */
}
table.border td.header {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: ThreeDShadow;
}
table.border0 {
/*	border-collapse: collapse; */
	border-style: none;
}
table.border0 th,
table.border0 td {
	border-style: none;
}

table.frame {
	border-collapse: collapse;
	border-width: thin;
	border-style: solid;
	border-color: ThreeDShadow;
	padding: 0.5em;
}
table.frame th,
table.frame td {
	border-style: none;
	padding-left:  0.2em;
	padding-right: 0.2em;
}

/* index.html */
table.changes col.version,
table.changes col.date {
	padding-left:  0.5em;
	padding-right: 0.5em;
}
ul.pendings {}

/* download.html */
table.archives {
	border-collapse: collapse;
	border-width: thin;
	border-style: solid;
	border-color: ThreeDShadow;
}
table.archives td {
	border-width: 1;
	border-style: solid;
	border-color: ThreeDShadow;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

/* use-htmllint.html */
table.options {
	border-collapse: collapse;
/*	border-width: thin;
	border-style: solid;
	border-color: ThreeDShadow;
	margin-left: 0.5em;
	margin-right: 0.5em; */
}
table.options td {
	padding-left: 0.5em;
}

/* faq.html */
/*@media screen {*/
dl.faq dt { font-weight: bold; margin-left: 1em }
/*}*/

/* explain.html */
ol.explain0 p.whine,
ol.explain p.whine {
/*	float: left; */
}
div.errnavimg {
	margin-top: -3em;
/*	padding-top: 5px; */
/*	text-align: right; */
	width: 10%;
	float: right;
}
ol.explain0 p,
ol.explain p {
	clear: both;
}
ul.doctypes li,
ul.schemes li {
	margin-top: 0.5em;
}
ul.doctypes li.nomargin {
	margin-top: 0em;
}
col.jiscode  { text-align: "-" }
col.sjiscode { text-align: "/" }

/* explain-wai.html */
h3.guideline {
/*	font-size: 100%; */
	float: left;
}
div.glnavimg {
	padding-top: 20px;
	text-align: right;
}
dl.guideline {
	clear: both;
}

/* explain-omake.html */
ol.omake p.omake {
/*	float: left; */
}
div.omakenav {
	margin-top: -3em;
/*	padding-top: 5px; */
/*	text-align: right; */
	width: 10%;
	float: right;
}
